html
{
    background-image: linear-gradient(white, rgb(51, 69, 233));
}

body
{
    max-width: 1000px;
    text-align: center;
    padding: 50px;

}

body h1
{
    background-color: green;

}
body p 
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
    text-align: center;
    padding: 30px;
   
}


footer
{
    padding: 50px;
    font-size: 0.75%;
    background-color: aliceblue;
}

img
{
    height: 200px;
    width: 200px;
}

.gradient-text {
    font-weight: bold;
    background-color: #f3ec78;
    background-image: linear-gradient(#322c33, #df2222);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;

}